@page
@model StubbyQ.web.Pages.SideRecipes.MacNCheeseModel
@{
}

<script>window.onload = toggleSubMenu('sides');</script>


<body>
    <div>
        This my Mac N Cheese Sides Page
    </div>
</body>
