<!DOCTYPE html>
<style>
    body, html {
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Stubby-Q</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/scripts.js" asp-append-version="true"></script>
</head>

<body>
    <!-- page header with logo and tagline-->
    <header style="background-color: #0a1a2f;">
        <table style="width: 100%">
            <tr>
                <td style="vertical-align: bottom">
                    <a href="/"><img src="~/img/logos/StubbyQ_logo.png" alt="Stubby-Q Logo" style="height: 60px;" /></a>
                </td>
                <td style="text-align: right; vertical-align: bottom">
                    <form class="d-flex align-items-center" style="float: right" role="search">
                        <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light btn-sm" type="submit">Go</button>
                    </form>
                </td>
            </tr>
        </table>
    </header>
    <!-- page content-->
        <table>
            <tr>
                <td style="text-align: Left; vertical-align: top; background-color: #0a1a2f;">
                    <h5 style="font-weight: bold; font-family: 'Brush Script MT', cursive; color: white">Stubby-Q Recipes</h5>
                    @await Component.InvokeAsync("RecipeSidebar")
                </td>
                <td>
                    @RenderBody()
                </td>
            </tr>
        </table>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
</body>
</html>
