<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Stubby-Q</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <!-- page header with logo and tagline-->
    <header style="background-color: #0a1a2f;">
        <table style="width: 100%">
            <tr>
                <td style="vertical-align: bottom">
                        <img src="~/img/StubbyQ_logo.png" alt="Stubby-Q Logo" style="height: 60px;" />
                </td>
                <td style="text-align: right; vertical-align: bottom">
                    <form class="d-flex align-items-center" style="float: right" role="search">
                        <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light btn-sm" type="submit">Go</button>
                    </form>
                </td>
            </tr>
        </table>
    </header>
    <!-- page content-->
    <div class="container">
        <div>
            <table style="width: 100%;  height: 75vh">
                <tr style="height: 100%">
                    <td class="sidebar_cell">
                        <!-- Sidebar (left) -->
                        <div>
                            <h5 class="sidebar_headline">Stubby-Q Recipes</h5>
                            <ul>
                                <li>
                                    <a href="/Recipes" class="sidebar_image_link"><img class="sidebar_image" src="~/img/beef_recipes.png" alt="Beef Recipes" /></a>
                                    <a href="javascript:void(0);" class="sidebar_main-link" onclick="toggleSubMenu('beef')">Beef</a>
                                    <div id="beefSubMenu" style="display: none;">
                                        <ul>
                                            <li><a href="/brisket" class="sidebar_sub-link">Brisket</a></li>
                                            <li><a href="/burgers" class="sidebar_sub-link">Burgers</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/Recipes" class="sidebar_image_link"><img class="sidebar_image" src="~/img/pork_recipes.png" alt="Pork Recipes" /></a>
                                    <a href="javascript:void(0);" class="sidebar_main-link" onclick="toggleSubMenu('pork')">Pork</a>
                                    <div id="porkSubMenu" style="display: none;">
                                        <ul>
                                            <li><a href="/ribs" class="sidebar_sub-link">Ribs</a></li>
                                            <li><a href="/shoulder" class="sidebar_sub-link">Pork Shoulder</a></li>
                                            <li><a href="/porkchop" class="sidebar_sub-link">Pork Chop</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/Recipes" class="sidebar_image_link"><img class="sidebar_image" src="~/img/chicken_recipes.png" alt="Chicken Recipes" /></a>
                                    <a href="javascript:void(0);" class="sidebar_main-link" onclick="toggleSubMenu('chicken')">Chicken</a>
                                    <div id="chickenSubMenu" style="display: none;">
                                        <ul>
                                            <li><a href="/wings" class="sidebar_sub-link">Wings</a></li>
                                            <li><a href="/thighs" class="sidebar_sub-link">Thighs</a></li>
                                            <li><a href="/breasts" class="sidebar_sub-link">Breasts</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/Recipes" class="sidebar_image_link"><img class="sidebar_image" src="~/img/side_recipes.png" alt="Side Recipes" /></a>
                                    <a href="javascript:void(0);" class="sidebar_main-link" onclick="toggleSubMenu('sides')">Sides</a>
                                    <div id="sidesSubMenu" style="display: none;">
                                        <ul>
                                            <li><a href="/queso" class="sidebar_sub-link">Queso</a></li>
                                            <li><a href="/beans" class="sidebar_sub-link">Beans</a></li>
                                            <li><a href="/macncheese" class="sidebar_sub-link">Mac N Cheese</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="/Recipes" class="sidebar_image_link"><img class="sidebar_image" src="~/img/dessert_recipes.png" alt="Dessert Recipes" /></a>
                                    <a href="javascript:void(0);" class="sidebar_main-link" onclick="toggleSubMenu('dessert')">Dessert</a>
                                    <div id="dessertSubMenu" style="display: none;">
                                        <ul>
                                            <li><a href="/pecanpie" class="sidebar_sub-link">Pecan Pie</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td style="text-align: Left; vertical-align: top">
                        <div class="col-md-9 col-lg-10 p-4">
                            @RenderBody()
                        </div>
                    </td>
                </tr>
            </table>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/scripts.js"></script>
</body>
</html>
